/* Definindo estilos globais */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00; /* Cor de destaque ao passar o mouse */
}

main {
  padding: 2rem;
}

/* Estilos para as seções de times */
.team-section {
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.team-section h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.team-section img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.team-section img:hover {
  transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

#regras {
  background-color: #ffcc00;
  padding: 2rem;
  color: #333;
  text-align: center;
  border-radius: 10px;
  margin-top: 2rem;
}

/* Animação das seções ao rolar a página */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team-section {
  animation: fadeIn 2s ease-out;
}
