/* Estilos Globais */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Modo escuro */
  color: #fff; /* Texto claro */
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00; /* Cor de destaque ao passar o mouse */
}

main {
  padding: 2rem;
}

/* Estilos para as seções de times */
.team-section {
  background-color: #1e1e1e; /* Fundo mais escuro para as seções */
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.team-section h2 {
  text-align: center;
  font-size: 2rem;
  color: #ffcc00; /* Título com cor chamativa */
  margin-bottom: 1rem;
}

.team-section img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.team-section img:hover {
  transform: scale(1.05); /* Aumenta a imagem ao passar o mouse */
}

#regras {
  background-color: #333;
  padding: 2rem;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-top: 2rem;
}

/* Animação das seções ao rolar a página */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .team-section {
    padding: 1rem;
  }
}
